.dsp_menu_holder {
    grid-column: 1/-1;
    align-self: center;
    margin-left: 80px;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto 210px 1fr 1fr 1fr;
    grid-template-rows: 130px;
}
.filterButton {
    grid-column: 2/3;
    grid-row: 1/2;
}
#dsp_table{
    grid-column: 1/2;
    font-size: 50px;
    grid-row: 1/2;
    align-self: center;
}
input[type=checkbox]{
    height: 50px;
    width: 50px;
}