.stage_holder{
    grid-column: 2/-2;
    grid-row: 1/-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 135px auto 60px auto;
}
.lane{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

#lane_one{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    background-color: #99B6F2;
}
#lane_two{
    grid-column: 1/-1;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    background-color: #99B6F2;
}
.belt{
    grid-column: 1/-1;
    font-size: 20px;
    align-self: center;
    justify-self: center;
}
.stagingArea{
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid black;
    border-bottom-width: 4px;
    height: auto;
}
.stagingNumber{
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: center;
    font-family: 'Poppins';
    background: none;
	color: inherit;
    border: none;
    color: black;
    padding: 0;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.plannedRoutes{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.racK_count_holder{

}
.routeButton{
    outline: inherit;
    border-radius: 14px;
    background-color: rgb(198, 69, 23);
    width: auto;
    height: auto;
    border: none;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 9px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.routeDSP{
    grid-row: 1/2;
    justify-content: end;
    margin-top: 8px;
}
.routeCodeHolder{
    grid-row: 2/3;
    justify-content: start;
    margin-top: -25px;
    margin-bottom: 8px;
}