@import './lanes.scss';
@import './dsp_menu.scss';
@import './modal.scss';

.main_holder{
    height: 100%;
    width: 100vw;
    background-color: #F2EFE4;
    display: grid;
    grid-template-columns: 55px 1fr 1fr 1fr 1fr 1fr 1fr 35px;
    grid-template-rows: 130px 1fr 1fr 1fr 1fr 1fr 35px;
}

#root{
    height: 100vh;
    width: 100vw;
}